body {
    font-family: Arial;
    background-color: #0f0f0f;
    color: #e5e5e5;
    margin: 0;
}

/* HEADER */
header {
    background-color: #000;
    text-align: center;
    padding: 20px;
}

/* CONTAINER */
.container {
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

/* CARD STYLE */
.card {
    background-color: #1a1a1a;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* IMAGE */
.me {
    width: 130px;
    border-radius: 10px;
    margin-top: 10px;
}

/* HOBBIES */
.hobby {
    margin-top: 15px;
}

.hobby img {
    width: 120px;
    border-radius: 8px;
    display: block;
    margin-bottom: 5px;
}

/* BUTTON */
button {
    padding: 10px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #444;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #000;
    margin-top: 20px;
}
